<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Baker Home</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>


    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/listVendors">My Vendors</a></li>
            <li><a href="/addVendor">Add Vendor</a></li>
          </ul>
        </div>

      </div>
    </nav>




    <h1>bakePay</h1>
    <div class="container" id="jumbo-container">
      <div class="jumbotron">
        <h1 class="display-4">Hello, welcome to your convenient funds-transfer portal.</h1>
        <p class="lead">This is a simple application that makes your payments to vendors fast and seamless.</p>
        <hr class="my-4">
        <p>It uses paystack's platform to facilitate payments. <a href="/addVendor">Register</a> vendors to start making payments now.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://paystack.com" role="button">Learn more</a>
        </p>
      </div>
    </div>





    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
  </body>


</html>
